/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;500;600;700&display=swap");
/* COLORS */
/* NAV BAR STYLES */
#navBar {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 2;
  top: 0;
}

#logoImageDiv {
  position: absolute;
}

#logoImageDiv {
  left: 30px;
  top: 15px;
}
#logoImageDiv #logoImage {
  height: 90px;
}

#upperNavBar {
  height: 40px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
#upperNavBar #connectedText {
  font-family: "Oswald", sans-serif;
  color: #de53f3;
  font-size: 14px;
}
#upperNavBar #socialLinks {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#upperNavBar #socialLinks .socialLink {
  padding: 0 8px;
  list-style-type: none;
}
#upperNavBar #socialLinks .socialLink a {
  text-decoration: none;
  color: #000000;
}
#upperNavBar #socialLinks .socialLink a .fa-instagram {
  font-weight: 600;
}
#upperNavBar #socialLinks .socialLink a:hover {
  color: #de53f3;
}
#upperNavBar #searchBarDiv {
  position: relative;
  display: flex;
  width: 375px;
  margin-left: 35px;
  margin-right: 0;
}
#upperNavBar #searchBarDiv #searchBar {
  width: 100%;
  border-radius: 40px;
  border: none;
  padding: 5px 20px;
  background-color: #E1E1E1;
  outline: none;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #000000;
}
#upperNavBar #searchBarDiv #searchBar::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 12px;
  letter-spacing: 1.2px;
}
#upperNavBar #searchBarDiv #searchBar::placeholder {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 12px;
  letter-spacing: 1.2px;
}
#upperNavBar #searchBarDiv #searchBar:focus {
  color: #000000;
}
#upperNavBar #searchBarDiv #searchButton {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #000000;
  position: absolute;
  right: 5px;
  top: 4px;
}
#upperNavBar #loginDiv {
  display: flex;
  background-color: #de53f3;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#upperNavBar #loginDiv .loginText {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  margin-left: 25px;
  font-size: 14px;
}
#upperNavBar #loginDiv .loginIcon {
  margin-right: 35px;
}

#lowerNavBar {
  height: 80px;
  width: 100vw;
  background-color: #000000;
}
#lowerNavBar .navLinks {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
#lowerNavBar .navLinks .navLink {
  padding: 28px 5% 0;
  list-style-type: none;
  box-sizing: border-box;
  height: 100%;
}
#lowerNavBar .navLinks .navLink a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.2px;
  transition: color 0.2s linear;
}
#lowerNavBar .navLinks .navLink.inactive a {
  color: #505050;
}
#lowerNavBar .navLinks .navLink a:focus {
  color: #de53f3;
}
#lowerNavBar .hamburgerButton {
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  border: none;
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
}

#navBar.topGone #logoImageDiv {
  left: 5px;
  top: 5px;
}
#navBar.topGone #logoImageDiv #logoImage {
  height: 70px;
}
#navBar.topGone #upperNavBar {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  #upperNavBar #searchBarDiv {
    width: 275px;
    margin-left: 20px;
  }
}
@media (max-width: 960px) {
  #logoImageDiv {
    left: 5px;
    top: 5px;
  }
  #logoImageDiv #logoImage {
    height: 70px;
  }
  #upperNavBar {
    display: none;
  }
  #lowerNavBar .navLinks {
    display: none;
  }
  #lowerNavBar .hamburgerButton {
    display: block;
  }
}
/* MAIN GRID STYLES */
#mainGridContainer {
  padding: 0 25px 35px;
}

#upcomingEventsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 2px solid #000000;
}
#upcomingEventsDiv #upcomingEventsHeader {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}
#upcomingEventsDiv #layoutButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#upcomingEventsDiv #layoutButtons button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  fill: #000000;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#upcomingEventsDiv #layoutButtons button svg {
  margin-top: 2px;
}
#upcomingEventsDiv #layoutButtons #gridLayoutButton.selected, #upcomingEventsDiv #layoutButtons #columnLayoutButton.selected {
  fill: #de53f3;
  background-color: #FFFFFF;
}

#mainGridDivDesktop {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-between;
  padding-top: 25px;
}
#mainGridDivDesktop .eventCardDiv {
  width: 32.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s linear;
}
#mainGridDivDesktop .eventCardDiv .imageDiv {
  position: relative;
}
#mainGridDivDesktop .eventCardDiv .imageDiv .artistImage {
  width: 100%;
  height: 100%;
}
#mainGridDivDesktop .eventCardDiv .imageDiv .imageOverlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainGridDivDesktop .eventCardDiv .imageDiv .imageOverlay .buyTicketsButton {
  opacity: 0;
  background-color: #de53f3;
  color: #FFFFFF;
  border: none;
  padding: 10px 50px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
#mainGridDivDesktop .eventCardDiv .imageDiv .imageOverlay .buyTicketsButton:hover {
  color: #000000;
  background-color: #FFFFFF;
}
#mainGridDivDesktop .eventCardDiv .infoDiv {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95px;
}
#mainGridDivDesktop .eventCardDiv .infoDiv .artistName {
  margin: 0;
  color: #de53f3;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.2px;
  cursor: pointer;
}
#mainGridDivDesktop .eventCardDiv .infoDiv .tourName {
  margin: 0;
  font-style: italic;
  font-family: "Merriweather", serif;
  font-size: 15px;
  padding-bottom: 10px;
}
#mainGridDivDesktop .eventCardDiv:hover .imageDiv .imageOverlay {
  background-color: rgba(0, 0, 0, 0.7);
}
#mainGridDivDesktop .eventCardDiv:hover .imageDiv .imageOverlay .buyTicketsButton {
  opacity: 1;
}

#mainGridDivMobile {
  display: none;
  width: 100%;
  padding-top: 25px;
  flex-direction: column;
  gap: 20px;
}
#mainGridDivMobile .eventCardDiv {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s linear;
}
#mainGridDivMobile .eventCardDiv .infoDiv {
  display: flex;
  background-color: #FFFFFF;
}
#mainGridDivMobile .eventCardDiv .infoDiv .artistImage {
  width: 33%;
  margin: 1.5%;
}
#mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv .artistName {
  margin: 0;
  color: #de53f3;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 28px;
  cursor: pointer;
}
#mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv .tourName {
  margin: 0;
  font-style: italic;
  font-family: "Merriweather", serif;
  font-size: 16px;
}
#mainGridDivMobile .eventCardDiv .buyTicketsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #de53f3;
  height: 45px;
  cursor: pointer;
}
#mainGridDivMobile .eventCardDiv .buyTicketsDiv .buyTicketsText {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
}

#mainGridDivMobile.onDesktop .eventCardDiv .infoDiv .artistInfoTextDiv {
  padding-top: 5%;
  padding-left: 5%;
}
#mainGridDivMobile.onDesktop .eventCardDiv .infoDiv .artistInfoTextDiv .artistName {
  font-size: 36px;
}
#mainGridDivMobile.onDesktop .eventCardDiv .infoDiv .artistInfoTextDiv .tourName {
  font-size: 24px;
}

.eventCardDiv:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.dateDiv {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 36px;
}
.dateDiv .date, .dateDiv .dayOfWeek {
  margin: 0;
  padding: 7px 15px;
  color: #de53f3;
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  letter-spacing: 0.8px;
  font-weight: 500;
}
.dateDiv .dayOfWeek {
  background-image: url("../images/date-block.png");
  padding-left: 20px;
  padding-bottom: 0;
  margin-top: -4px;
  height: 28px;
  z-index: 1;
}

@media (max-width: 767px) {
  #upcomingEventsDiv {
    justify-content: center;
  }
  #upcomingEventsDiv #upcomingEventsHeader {
    font-size: 32px;
  }
  #upcomingEventsDiv #layoutButtons {
    display: none;
  }
}
@media (max-width: 424px) {
  #mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv .artistName {
    font-size: 24px;
  }
  #mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv .tourName {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  #mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv .artistName {
    font-size: 18px;
  }
  #mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv .tourName {
    font-size: 12px;
  }
}
/* NEWSLETTER SIGNUP STYLES */
#newsletterSignupContainer {
  width: 100%;
  height: 480px;
  background-image: url("../images/newsletter-background.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsletterSignupContainer #newsletterSignup {
  box-sizing: border-box;
  height: 65%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#newsletterSignupContainer #newsletterSignup #newsletterHeading {
  margin: 0;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 36px;
  text-align: center;
  line-height: 1;
}
#newsletterSignupContainer #newsletterSignup #newsletterText {
  margin: 10px 0px;
  color: #de53f3;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}
#newsletterSignupContainer #newsletterSignup #getConnectedButton {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-top: 25px;
  padding: 10px 45px;
  cursor: pointer;
}
#newsletterSignupContainer #newsletterSignup #getConnectedButton:hover {
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
}

@media (max-width: 650px) {
  #newsletterSignupContainer {
    height: 400px;
  }
  #newsletterSignupContainer #newsletterSignup {
    height: 80%;
    width: 90%;
  }
  #newsletterSignupContainer #newsletterSignup #getConnectedButton {
    width: 100%;
  }
}
/* SOCIAL AND DIRECTIONS SECTIONS STYLING */
#socialAndDirectionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 35px 25px;
  background-color: #FFFFFF;
}
#socialAndDirectionsContainer .mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: auto;
}
#socialAndDirectionsContainer .mainDiv .headingTextDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 65px;
  gap: 10px;
}
#socialAndDirectionsContainer .mainDiv .headingTextDiv .headingText {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}
#socialAndDirectionsContainer .mainDiv .headingTextDiv .subText {
  font-family: "Merriweather", serif;
  color: #de53f3;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}
#socialAndDirectionsContainer .mainDiv #socialTabs {
  display: flex;
  gap: 2px;
  width: 100%;
  height: 50px;
}
#socialAndDirectionsContainer .mainDiv #socialTabs .socialTab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 33%;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
#socialAndDirectionsContainer .mainDiv #socialTabs .socialTab .fa-instagram {
  font-weight: 600;
}
#socialAndDirectionsContainer .mainDiv #socialTabs .socialTab:hover, #socialAndDirectionsContainer .mainDiv #socialTabs .socialTab.active {
  background-image: url("../images/socialtab-active-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 325px;
  margin-top: 10px;
  background-color: #e5e5e5;
  padding: 20px 10px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer #topDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer #topDiv #followText {
  margin: 0 0 15px 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer #topDiv #followText a {
  color: #de53f3;
  text-decoration: none;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer #topDiv #scrollButtons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer #topDiv #scrollButtons button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #de53f3;
  cursor: pointer;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList {
  display: flex;
  height: 100%;
  gap: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  min-width: 260px;
  max-width: 260px;
  padding: 15px;
  justify-content: space-between;
  background-color: #FFFFFF;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .logoAndHandle {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .logoAndHandle .fa-brands {
  color: #de53f3;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .logoAndHandle .fa-instagram {
  font-weight: 600;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .logoAndHandle .handle {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .postText {
  height: 70%;
  font-family: "Lato", sans-serif;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .postText span {
  color: #de53f3;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #de53f3;
  margin: 0 -15px -15px;
  padding: 0 15px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .bottomBar .dateTime {
  color: #FFFFFF;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer .socialPostsList .socialPost .bottomBar .actionLinks {
  display: flex;
  gap: 8px;
  color: #FFFFFF;
  font-size: 12px;
}
#socialAndDirectionsContainer .mainDiv #socialPostsContainer #instagramPostsList, #socialAndDirectionsContainer .mainDiv #socialPostsContainer #facebookPostsList {
  display: none;
}
#socialAndDirectionsContainer .mainDiv #addressDiv {
  display: flex;
  gap: 25px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}
#socialAndDirectionsContainer .mainDiv #addressDiv p {
  margin: 0;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
}
#socialAndDirectionsContainer .mainDiv #addressDiv .boldText {
  font-weight: 500;
}
#socialAndDirectionsContainer .mainDiv #addressDiv .addressText {
  font-weight: 400;
  font-size: 14px;
}
#socialAndDirectionsContainer .mainDiv #mapDiv {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 325px;
  margin-top: 10px;
}
#socialAndDirectionsContainer .mainDiv #mapDiv .popup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(6%, -15%);
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 25px 15px 15px;
  font-family: "Oswald", sans-serif;
}
#socialAndDirectionsContainer .mainDiv #mapDiv .popup p {
  margin: 0;
}
#socialAndDirectionsContainer .mainDiv #mapDiv .popup p.bold {
  font-weight: 600;
}
#socialAndDirectionsContainer .mainDiv #mapDiv .popupAnchor {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}
#socialAndDirectionsContainer .mainDiv #mapDiv .popupAnchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 9px solid #000000;
}
#socialAndDirectionsContainer .mainDiv #mapDiv .popupContainer {
  cursor: auto;
  height: 0;
  position: absolute;
  width: 200px;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 850px) {
  #socialAndDirectionsContainer {
    flex-direction: column;
  }
  #socialAndDirectionsContainer .mainDiv {
    width: 100%;
  }
  #socialAndDirectionsContainer .mainDiv #addressDiv {
    flex-direction: column;
    gap: 0;
    height: 75px;
  }
}
@media (max-width: 767px) {
  #socialAndDirectionsContainer .mainDiv .headingTextDiv {
    flex-direction: column;
    gap: 0;
    align-items: start;
    margin-bottom: 8px;
  }
  #socialAndDirectionsContainer .mainDiv #socialPostsContainer #topDiv #scrollButtons {
    display: none;
  }
  #socialAndDirectionsContainer .mainDiv #addressDiv .addressText {
    font-size: 12px;
  }
}
/* MAIN STYLES */
body {
  margin: 0;
  background-color: #e5e5e5;
}/*# sourceMappingURL=main.css.map */