/* MAIN GRID STYLES */
#mainGridContainer {
    padding: 0 25px 35px;
}

#upcomingEventsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 2px solid $default-black;

    #upcomingEventsHeader {
        font-family: $oswald-font-family;
        margin: 0;
        font-weight: 400;
        font-size: 24px;
    }

    #layoutButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px; 

        button {
            background-color: rgba(0,0,0,0);
            border: none;
            fill: $default-black;
            width: 40px;
            height: 40px;
            cursor: pointer;

            svg {
                margin-top: 2px;
            }
        }

        #gridLayoutButton.selected, #columnLayoutButton.selected {
            fill: $chvenue-pink;
            background-color: $default-white;
        }
    }
}

#mainGridDivDesktop {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
    padding-top: 25px;

    .eventCardDiv {
        width: 32.5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        transition: box-shadow .2s linear;
        .imageDiv {
            position: relative;

            .artistImage {
                width: 100%;
                height: 100%;
            }

            .imageOverlay {
                background-color: rgba(0,0,0,0);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color 0.2s linear;
                display: flex;
                justify-content: center;
                align-items: center;

                .buyTicketsButton {
                    opacity: 0;
                    background-color: $chvenue-pink;
                    color: $default-white;
                    border: none;
                    padding: 10px 50px;
                    font-family: $oswald-font-family;
                    font-weight: 600;
                    font-size: 16px;
                    cursor: pointer;
                    transition: opacity 0.2s linear;
                }

                .buyTicketsButton:hover {
                    color: $default-black;
                    background-color: $default-white;
                }
            }
        }

        .infoDiv {
            background-color: $default-white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 95px;

            .artistName {
                margin: 0;
                color: $chvenue-pink;
                font-family: $oswald-font-family;
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 1.2px;
                cursor: pointer;
            }
            
            .tourName {
                margin: 0;
                font-style: italic;
                font-family: $merriweather-font-family;
                font-size: 15px;
                padding-bottom: 10px;
            }
        }
    }

    .eventCardDiv:hover {
        .imageDiv .imageOverlay {
            background-color: rgba(0,0,0,0.7);

            .buyTicketsButton{
                opacity: 1;
            }
        }
    }
}

#mainGridDivMobile {
    display: none;
    width: 100%;
    padding-top: 25px;
    flex-direction: column;
    gap: 20px;

    .eventCardDiv {
        display: flex;
        flex-direction: column;
        transition: box-shadow .2s linear;

        .infoDiv {
            display: flex;
            background-color: $default-white;
    
            .artistImage {
                width: 33%;
                margin: 1.5%;
            }
    
            .artistInfoTextDiv {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .artistName {
                    margin: 0;
                    color: $chvenue-pink;
                    font-family: $oswald-font-family;
                    font-weight: 400;
                    font-size: 28px;
                    cursor: pointer;
                }
                
                .tourName {
                    margin: 0;
                    font-style: italic;
                    font-family: $merriweather-font-family;
                    font-size: 16px;
                }
            }
        }

        .buyTicketsDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: $chvenue-pink;
            height: 45px;
            cursor: pointer;

            .buyTicketsText {
                color: $default-white;
                font-family: $oswald-font-family;
            }
        }
    }
}

#mainGridDivMobile.onDesktop {
    .eventCardDiv .infoDiv {
        .artistInfoTextDiv {
            padding-top: 5%;
            padding-left: 5%;

            .artistName {
                font-size: 36px;
            }

            .tourName {
                font-size: 24px;
            }
        }
    }
}

.eventCardDiv:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
}

.dateDiv {
    display: flex;
    justify-content: space-between;
    background-color: $default-black;
    height: 36px;

    .date, .dayOfWeek {
        margin: 0;
        padding: 7px 15px;
        color: $chvenue-pink;
        font-family: $oswald-font-family;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-weight: 500;
    }

    .dayOfWeek {
        background-image: url('../images/date-block.png');
        padding-left: 20px;
        padding-bottom: 0;
        margin-top: -4px;
        height: 28px;
        z-index: 1;
    }
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
    #upcomingEventsDiv {
        justify-content: center;

        #upcomingEventsHeader {
            font-size: 32px;
        }

        #layoutButtons {
            display: none;
        }
    }
}

@media (max-width: 424px) {
    #mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv {
        .artistName {
            font-size: 24px;
        }

        .tourName {
            font-size: 14px;
        }
    }
}

@media (max-width: 374px) {
    #mainGridDivMobile .eventCardDiv .infoDiv .artistInfoTextDiv {
        .artistName {
            font-size: 18px;
        }

        .tourName {
            font-size: 12px;
        }
    }
}