/* NEWSLETTER SIGNUP STYLES */

#newsletterSignupContainer {
    width: 100%;
    height: 480px;
    background-image: url('../images/newsletter-background.png');
    display: flex;
    align-items: center;
    justify-content: center;

    #newsletterSignup {
        box-sizing: border-box;
        height: 65%;
        width: 50%;
        background-color: rgba(0,0,0,0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        #newsletterHeading {
            margin: 0;
            color: $default-white;
            font-family: $oswald-font-family;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 36px;
            text-align: center;
            line-height: 1;
        }

        #newsletterText {
            margin: 10px 0px;
            color: $chvenue-pink;
            font-family: $merriweather-font-family;
            font-style: italic;
            font-size: 18px;
            text-align: center;
            // margin-top: 5px;
            // padding: 5px;
        }

        #getConnectedButton {
            background-color: rgba(0,0,0,0);
            border: 2px solid $default-white;
            color: $default-white;
            font-family: $oswald-font-family;
            font-weight: 600;
            letter-spacing: 1.2px;
            margin-top: 25px;
            padding: 10px 45px;
            cursor: pointer;
        }

        #getConnectedButton:hover {
            background-color: $default-white;
            color: rgba(0,0,0);
        }
    }

    #newsletterSignup:hover {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    }
}

@media (max-width: 650px) {
    #newsletterSignupContainer {
        height: 400px;

        #newsletterSignup {
            height: 80%;
            width: 90%;

            #getConnectedButton {
                width: 100%;
            }
        }
    }
}