/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;500;600;700&display=swap');

$lato-font-family: 'Lato', sans-serif;
$merriweather-font-family: 'Merriweather', serif;
$oswald-font-family: 'Oswald', sans-serif;

/* COLORS */
$default-black: #000000;
$default-white: #FFFFFF;
$chvenue-pink: #de53f3;
$accent-gray: #2e2e2e;
$background-gray: #e5e5e5;